body {
	background: rgb(2,0,36);
	background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,97,0.465721322708771) 35%, rgba(0,212,255,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,97,0.465721322708771) 35%, rgba(0,212,255,1) 100%);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,97,0.465721322708771) 35%, rgba(0,212,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
    
}


h1{
	color: black;
	text-align: center;
	margin-left: 15%;
	margin-right: 35%;



}

h2{
	color: black;
	text-align: center;
	margin-left: 10%;
	margin-right:25%;
	text-align: left;
}


h3{
	color: black;
	text-align:center;
	margin-left: 15%;
	margin-right: 35%;
	font-family: arial;
}	

p{
	font-family: arial;
	text-align: center;
	margin-left: 10%;
	margin-right: 25%;
	font-size: medium;
	text-align: left;
}


a{
	text-align: left;
	margin-left: 10%;
	margin-right: 25%;
	font-size:x-small;
	text-align: center;
	
}


img{
	width: 20%;
	height: 10%;
	margin-left: 10%;
	margin-right: 25%;
}	



.center {
	 	 display: block;
		 margin-left: 15%;
		 margin-right: 10%;
	 	 width: 50%;
	 	 border-style: outset;
	 	 border-right: 50%;
	 	 border-style: 50%;
	 	 border-top: 50%;
	 	 border-bottom: 50%;
	 	 border-color: black;
}




img{
	width: 20%;
	height: 20%;
}

	
	
.middle	{
	 display: block;
	 width: 20%;
	 height: 20%;	
	 margin-right: 10%;
	 margin-left: 10%;
	 
	 border-style: outset;
	 border-right: 50%;
	 border-top: 50%;
	 border-left: 50%;
	 border-bottom: 50%;
	 border-color: black;
}




img{
	width: 40%;
	height: auto;

}		

		
.learning{

		display: block;
		width: 30%;
		margin-left: 10%;
		margin-right: 10%;
		
		border-style: outset;
		border-right: 50%;
		border-left:  50%;
		border-top:   50%;
		border-bottom: 50%;
		border-color: black;
		
}


img{
	width: 40%;
	height: auto;
}		



.creative{
		display: block;
		width: 30%;
		height: 20%;
		margin-left: 10%;
		margin-right: 10%;
		
		border-style: outset;
		border-right: 50%;
		border-left:  50%;
		border-top:   50%;
		border-bottom: 50%;
		border-color: black;
			
}



img{
	width: 40%
	height:auto;


}


.learn{
		display: block;
		width: 25%;
		height: 20%;
		margin-left: 10%;
		margin-right: 10%;

	    border-style: outset;
		border-right: 50%;
		border-left:  50%;
		border-top:   50%;
		border-bottom: 50%;
		border-color: black;

		

}	

img{
	width: 20%;
	height:20%;
}

.address{

		display: block;
		width: 20%;
		height:20%;
		margin-left: 10%;
		margin-right:10%;
		border-style: outset;
		border-left: 50%;
		border-bottom: 50%;
		border-top:50%;
		border-right: 50%;
		border-color: black;
		
}



img{
	width: 40%;
	height: auto;
}


.statistics{
		display: block;
		width: 30%;
		height: 30%;
		margin-left: 10%;
		margin-right: 15%;

		border-style: outset;
		border-right: 50%;
		border-left:  50%;
		border-top:   50%;
		border-bottom: 50%;
		border-color: black;
}



