body {

	background-color:gainsboro;

}



h2{
	color: black;
}

h3{
	color: black;
}

p{
	font-family: arial;
}

img {
	width:50%;
	height: 10%;
}

		
	

.center {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width: 50%;
	border-style: solid;
	border-top: 70%;
	border-left: 70%;
	border-right: 70%
	border-bottom:70%;
	border-color: black;
}

img {
	width: 10%;
	height:10%;
}

	
.middle	{
	 width: 20%;
	 margin-right: auto;
	 margin-left: auto;
	 border-style: solid;
	 border-left: 30%;
	 border-right:30%;
	 border-bottom: 30%;
	 border-top:30%;
	 border-color: black;
}


img{
	width: 40%;
	height:20%;
}

		
		
}
.learn{

		width: 40%
		height: 20%;

		
}
.learning{

		width: 40%;
		height:20%;

		
}
.creative{
			width: 40%;
			height: 20%;

			
}