body {
	background: rgb(184,238,247);
	background: linear-gradient(90deg, rgba(184,238,247,0.49093140674238445) 47%, rgba(102,205,205,0.569362779291404) 64%, rgba(4,103,150,0.43771011822697825) 87%);
	
    
}


h1{
	color: black;
	text-align: center;
	margin-left: 15%;
	margin-right: 35%;



}

h2{
	color: black;
	text-align: center;
	margin-left: 10%;
	margin-right:25%;
	text-align: left;
}


h3{
	color: black;
	text-align:center;
	margin-left: 15%;
	margin-right: 35%;
	font-family: arial;
}	

p{
	font-family: arial;
	text-align: center;
	margin-left: 10%;
	margin-right: 25%;
	font-size: medium;
	text-align: left;
}


a{
	text-align: left;
	margin-left: 10%;
	margin-right: 25%;
	font-size:xx-small;
	text-align: center;
	
}


img{
	width: 20%;
	height: 10%;
	margin-left: 10%;
	margin-right: 25%;
}	



.center {
	 	 display: block;
		 margin-left: 15%;
		 margin-right: 10%;
	 	 width: 50%;
	 	 border-style: outset;
	 	 border-right: 50%;
	 	 border-style: 50%;
	 	 border-top: 50%;
	 	 border-bottom: 50%;
	 	 border-color: black;
}




img{
	width: 20%;
	height: 20%;
}

	
	
.middle	{
	 display: block;
	 width: 20%;
	 height: 20%;	
	 margin-right: 10%;
	 margin-left: 10%;
	 
	 border-style: outset;
	 border-right: 50%;
	 border-top: 50%;
	 border-left: 50%;
	 border-bottom: 50%;
	 border-color: black;
}




img{
	width: 40%;
	height: auto;

}		

		
.learning{

		display: block;
		width: 30%;
		margin-left: 10%;
		margin-right: 10%;
		
		border-style: outset;
		border-right: 50%;
		border-left:  50%;
		border-top:   50%;
		border-bottom: 50%;
		border-color: black;
		
}


img{
	width: 40%;
	height: auto;
}		



.creative{
		display: block;
		width: 30%;
		height: 20%;
		margin-left: 10%;
		margin-right: 10%;
		
		border-style: outset;
		border-right: 50%;
		border-left:  50%;
		border-top:   50%;
		border-bottom: 50%;
		border-color: black;
			
}



img{
	width: 40%
	height:auto;


}


.learn{
		display: block;
		width: 25%;
		height: 20%;
		margin-left: 10%;
		margin-right: 10%;

	    border-style: outset;
		border-right: 50%;
		border-left:  50%;
		border-top:   50%;
		border-bottom: 50%;
		border-color: black;

		

}	

img{
	width: 20%;
	height:20%;
}

.address{

		display: block;
		width: 20%;
		height:20%;
		margin-left: 10%;
		margin-right:10%;
		border-style: outset;
		border-left: 50%;
		border-bottom: 50%;
		border-top:50%;
		border-right: 50%;
		border-color: black;
		
}



img{
	width: 40%;
	height: auto;
}


.statistics{
		display: block;
		width: 30%;
		height: 30%;
		margin-left: 10%;
		margin-right: 15%;

		border-style: outset;
		border-right: 50%;
		border-left:  50%;
		border-top:   50%;
		border-bottom: 50%;
		border-color: black;
}



